name: Test and Deploy

# Run whenever:
# - PR is opened
# - new commit is pushed to the PR
# - PR is merged to main
# - tag is added
on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - '*'

# Always check formatting and run tests
# Always build conda package
# If merging to main:
#   - upload to anaconda.org on the dev channel
# If tagging a release:
#   - upload to anaconda.org on both the dev and main channel
#   - upload to PyPI
jobs:
  test_and_style_checks:
    runs-on: ubuntu-latest
    env:
      AC_LABEL: -l dev
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: true
      matrix:
        testopts:
          - ""
          - "--runveryslow"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Create env
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: 3.9
      - name: Update env
        run: |
          conda install -q -c conda-forge 'graphblas>=6.1' grblas dask pytest 'black=21.11b1' flake8 coverage coveralls
          pip install -e .
      - name: Lint with Black
        run: |
          black --version
          black dask_grblas/ --check --diff
      - name: Flake8 style check
        run: flake8
      - name: Pytest
        run: coverage run --branch -m pytest ${{ matrix.testopts }}
      - name: Coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ matrix.testopts }}
          COVERALLS_PARALLEL: true
        run: |
          coverage report --show-missing
          coveralls --service=github

  build_and_deploy:
    needs: test_and_style_checks
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      # why do we need to checkout again?
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Create env
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: 3.9
      - name: Update env
        run: |
          conda install -q -c conda-forge conda-build
      - name: Conda Build
        run: conda build -c conda-forge --python 3.9 recipe
      - name: Determine label
        if: contains(github.ref, 'refs/tags/')
        run: |
          echo "AC_LABEL=-l main -l dev" >> $GITHUB_ENV
      - name: Deploy to Anaconda Cloud
        if: (github.ref == 'refs/heads/main') || contains(github.ref, 'refs/tags/')
        run: |
          conda install -q anaconda-client
          # This doesn't rebuild, but simply computes the name of the file that was previously built
          OUTPUT=$(conda build --output -c conda-forge --python 3.9 recipe)
          echo "Uploading $OUTPUT with label=${{ env.AC_LABEL }}"
          anaconda -t ${{ secrets.ANACONDA_ORG_TOKEN }} upload -u metagraph ${{ env.AC_LABEL }} --no-progress --force --no-register $OUTPUT
      - name: Build wheel
        if: contains(github.ref, 'refs/tags/')
        run: python setup.py sdist bdist_wheel
      - name: Publish to PyPI
        if: contains(github.ref, 'refs/tags/')
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}

  coveralls_upload:
    needs: test_and_style_checks
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Create env
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: 3.9
      - name: Update env
        run: conda install -q -c conda-forge coveralls
      - name: Coveralls Finished
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          coveralls --finish
